    <div class="container-fluid p-0">

<div id="NumberIrregulars"></div>
									<!--begin::Card body-->
									<div class="mapstyles__Map-sc-nr84tp-0 cTfdbl map maplibregl-map mapboxgl-map">
										
										<div id='map'>
											
										</div>
										<!--begin::Compact form-->
										<div class="d-flex align-items-center">
											<div class="row">
												<div class="col-md-4"></div>
												<div class="col-md-4">
													
												</div>
												<div class="col-md-4"></div>
											</div>
										</div>
										<!--end::Compact form-->
									</div>
									<!--end::Card body-->
                                    </div>
                                    