<div class="container company-indicator p-0">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <div class="row">
          <div class="col-md-4">
            <h3>Company Details</h3>
          </div>

          <div class="col-md-4"></div>
          <div class="col-md-4">
            <input
              #search
              id="search"
              type="text"
              class="form-control"
              placeholder="Search by Company Name"
              aria-label="Search"
              aria-describedby="basic-addon1"
            />
            <div id="NumberIrregulars"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ng-container *ngIf="rows.length > 0; else no_Data">
          <ngx-datatable
            class="material"
            #table
            [scrollbarH]="true"
            [rows]="rows"
            [columns]="columns"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [columnMode]="ColumnMode.force"
            [externalPaging]="false"
            [limit]="limit"
          >
            <ngx-datatable-column
              *ngFor="let col of columns"
              [name]="col.name"
              [prop]="col.prop"
            >
            </ngx-datatable-column>

            <ngx-datatable-column name="BOVAG" sortable="false" prop="uuid">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span
                  class="badge badge-light-danger fw-bold me-1"
                  id="bovagBtn"
                  data-toggle="modal"
                  data-target="#bovagModal"
                >
                  <i
                    class="fa fa-eye"
                    style="color: black"
                    (click)="selectBovag(row)"
                  ></i>
                </span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              name="Details and locations"
              sortable="false"
              prop="uuid"
            >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button
                  type="button"
                  id="but"
                  class="gfgselect btn btn-warning btn-sm"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  (click)="selectMap(row)"
                >
                  Map
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          <hr class="solid" />
        </ng-container>
        <ng-template #no_Data>
          <ngx-datatable
            emptyRow
            class="material"
            [scrollbarH]="true"
            [rows]="rows"
            [columns]="columns"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [columnMode]="ColumnMode.force"
            [externalPaging]="false"
            [limit]="limit"
          >
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="BOVAG" sortable="false" prop="uuid">
            </ngx-datatable-column>
            <ngx-datatable-column
              name="Details and locations"
              sortable="false"
              prop="uuid"
            >
            </ngx-datatable-column>
          </ngx-datatable>
          <hr class="solid" />
        </ng-template>
      </div>
    </div>
  </div>

  <!--begin::Tab pane-->
  <!-- <div id="kt_project_users_table_pane" class="tab-pane fade"> -->
  <!--begin::Card-->
</div>

<div
  class="modal fade bd-example-modal-lg"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Company Details and location
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table
          class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bolder"
        >
          <!--begin::Head-->
          <thead class="fs-7 text-gray-400 text-uppercase">
            <tr></tr>
          </thead>
          <!--end::Head-->
          <!--begin::Body-->
          <tbody class="fs-6">
            <tr>
              <td class="min-w-30px text-end">Business Status</td>
              <td class="text-center">{{ bs }}</td>
            </tr>
            <tr>
              <td class="min-w-30px text-end">Formatted Address</td>
              <td class="text-center">{{ fa }}</td>
            </tr>
            <tr>
              <td class="min-w-30px text-end">Formatted Phone Number</td>
              <td class="text-center">{{ fpn }}</td>
            </tr>
            <tr>
              <td class="min-w-30px text-end">Partnership Name</td>
              <td class="text-center">{{ pn }}</td>
            </tr>
          </tbody>
          <!--end::Body-->
        </table>
        <div id="map"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade bd-example-modal-lg"
  id="bovagModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bovagModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bovagModalLabel">Bovag Modal Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table
          class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bolder"
        >
          <!--begin::Head-->
          <thead class="fs-7 text-gray-400 text-uppercase">
            <tr>
              <th class="min-w-30px text-center"></th>
              <th class="min-w-30px text-center">Place API</th>
              <th class="min-w-30px text-center">BOVAG</th>
              <th class="min-w-30px text-center">Similarity Score</th>
            </tr>
          </thead>
          <!--end::Head-->
          <!--begin::Body-->
          <tbody class="fs-6">
            <tr>
              <td class="text-center">Company Name</td>
              <td class="text-center"></td>
              <td class="text-center">{{ two }}</td>
              <td class="text-center">{{ three }}</td>
            </tr>
            <tr>
              <td class="text-center">Address</td>
              <td class="text-center">{{ four }}</td>
              <td class="text-center">{{ five }}</td>
              <td class="text-center">{{ six }}</td>
            </tr>
            <tr>
              <td class="text-center">Phone Number</td>
              <td class="text-center">{{ seven }}</td>
              <td class="text-center">{{ eight }}</td>
              <td class="text-center">{{ nine }}</td>
            </tr>
            <tr>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td
                class="text-center"
                style="color: green"
                *ngIf="isRecommended"
              >
                {{ avg }}
              </td>
              <td class="text-center" *ngIf="!isRecommended">{{ avg }}</td>
            </tr>
          </tbody>
          <!--end::Body-->
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
